html{
    height:100%

}
body
{

    background-image: url("images/wallpaper2.jpg");
    background-blend-mode:lighten;
}
h1{
    text-justify:center;
}
.titleBar{
    
    color:black;
   
    font-family: 'didact gothic';
    font-weight:bolder;
    font-size:26px;
    border-radius:10px;
    border:0px white solid;
    text-align:center;
    margin:auto
}
p{
    font-family: Helvetica;
    font-weight:normal;
    font-size:16px; 
    color:black;
}


.container1{

    background-image: url("images/BusProtocol2.png");
    background-size:100%;
    background-repeat:no-repeat;
    width: 35%;
    height:50%;
    margin: 20px;
    border: none;
    border-radius:10px;
    display: inline-block;
    text-align:center;
}
.container2{

    background-image: url("images/Amplifier.jpg");
    background-size:100%;
    background-repeat:no-repeat;
    width: 35%;
    height:50%;
    margin: 20px;
    border-radius:10px;
    display: inline-block;
    text-align:center;
}
.container3{

    background-image: url("images/RemoteFinder.jpg");
    background-size:100%;
    background-repeat:no-repeat;
    width: 35%;
    height:50%;
    margin: 20px;
    border: 0px black solid;
    border-radius:10px;
    display: inline-block;
    text-align:center;
}
.container4{

    background-image: url("images/microprocessor.jpg");
    background-size:100%;
    background-repeat:no-repeat;
    width: 35%;
    height:50%;
    margin: 20px;
    border: 0px black solid;
    border-radius:10px;
    display: inline-block;
    text-align:center;
}


.pic{
    
    background-size:120%;
    width: 100%;
    height:100%;
}
.linkButton{
     /* Green */
     position:relative;
    background-color:transparent;
    width:30%;
    height:100%;
    font-size: 13px;
    display:inline-block;
    padding: 5px;
}
.button {
    background-color: #000000; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:5px;
}
img{
    border-radius:2%;
    background-color:transparent;
    opacity:80%;
    width: 100%;
}
video{
    border-radius:2%;
    margin:center;
    width:500px;
    border:5px solid black;
    text-align:center
}
.button2 {
    background-color: rgb(0, 0, 0); /* Green */
    border: 0px grey solid;
    color:rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:10px;
    margin:5px;
    
    
}
.links{
    margin:auto;
    width:15%;
    height:5%;
    text-align:center;
    position:relative;
}


.img1{
    background:black;
    background-size:80%;

}
.projectVid{
    margin:auto;
    text-align:center;
}
.Description{
    width: 90%;
    border:5px solid black;

}