html{
    height:100%
}
body
{
    background: rgba(100, 80, 66, 0.041);
    
}
h1{
    text-justify:center;
}
.titleBar{
    
    color:black;
   
    font-family: 'didact gothic';
    font-weight:bolder;
    font-size:26px;
    border-radius:10px;
    border:1px white solid;
    text-align:center;
    margin:auto
}
.container{
    background: white;
}
p{
    font-family: Arial;
    font-weight:lighter;
    font-size:16px; 
    color:white;
}
.container{
    
    padding:20px;
    width:80%;
    margin:auto;
    border: 4px black solid;
    margin-top:20px;
    border-radius:10px;
    text-align:center
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:20px;
}
img{
    border-radius:2%;
}