html{
    height:100%

}
body
{
    background: rgba(100, 80, 66, 0.041);
    
}
h1{
    text-justify:center;
}
.titleBar{
    
    color:black;
   
    font-family: 'didact gothic';
    font-weight:bolder;
    font-size:26px;
    border-radius:10px;
    border:1px white solid;
    text-align:center;
    margin:auto
}
p{
    font-family: Helvetica;
    font-weight:normal;
    font-size:16px; 
    color:black;
}


.container1{

    background-image: url("images/BusProtocol2.png");
    width: 35%;
    height:30%;
    margin: 20px;
    border: 4px black solid;
    border-radius:10px;
    display: inline-block;
    text-align:center;
}
.container2{

    background-image: url("images/Amplifier.jpg");
    background-size:90%;
    width: 35%;
    height:30%;
    margin: 20px;
    border: 4px black solid;
    border-radius:10px;
    display: inline-block;
    text-align:center;
}
.container3{

    /*background-image: url("images/BusProtocol2.png");*/
    width: 35%;
    height:30%;
    margin: 20px;
    border: 4px black solid;
    border-radius:10px;
    display: inline-block;
    text-align:center;
}
.container4{

    background-image: url("images/FPGA.webp");
    background-size:90%;
    width: 35%;
    height:30%;
    margin: 20px;
    border: 4px black solid;
    border-radius:10px;
    display: inline-block;
    text-align:center;
}


.pic{
    
    background-size:120%;
    width: 100%;
    height:100%;
}
.button {
    background-color: #000000; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:20px;
}
img{
    border-radius:2%;
}
video{
    border-radius:2%;
}
.button2 {
    background-color: rgba(17, 15, 13, 0.041); /* Green */
    border: 1px grey solid;
    color:Black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:20px;
    margin:5px;
    
    
}
.links{
    margin:auto;
    width:800px;
    text-align:center;
}

.projects{
    background-size:150%;
    padding:20px;
    width: 90%;
    height:60%;
    margin:auto;
    border: 4px black solid;
    margin-top:20px;
    border-radius:10px;
    text-align:center;

}
.img1{
    background:black;
    background-size:80%;

}